//About Page

.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $main-spacing;
  padding-top: $main-spacing * 2;

  h1 {
    padding-bottom: $main-spacing;
  }

  p {
    margin: $main-spacing;
  }
}

#aboutInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-img {
  width: 30rem;
  margin: $main-spacing;
}

  // Desktop View

  @media screen and (min-width: 1240px) {
    .about-page p {
      width: 75vw;
    }
  }