//Hamburger Menu

#hambody {
  background-color: $main-color;
  padding: $main-spacing;
}

.hamburger-menu {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

.hamburger-menu img {
  padding: $main-spacing;
  padding-bottom: $main-spacing * 2;
}

#hambody a {
  color: white;
}

#hambody a:hover {
  color: $accent-color;
}

footer p {
  color: white;
  cursor: default;
}

.hamburger-links {
  text-transform: uppercase;
  text-align: center;
  padding: $main-spacing;
}

.hamburger-links li {
  padding: $main-spacing 0 ;
}

.hamburger-links a {
  text-decoration: none;
  color: white;
  transition: $main-transition;
}

.hamburger-links a:hover {
  color: $accent-color;
}

/* Position and sizing of burger button from react-burger-menu*/
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #ffffff;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: $accent-color;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 2.4rem;
  width: 2.4rem;
}

/* Color/shape of close button cross */
.bm-cross {
  background: white;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: absolute;
  top:0;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: $main-color;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

#svgcross {
  fill: white;
  background-color: $main-color;
  margin-top: $main-spacing / 2;
  margin-right: $main-spacing / 2;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}