/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-Regular.eot");
  src: url("../assets/fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Raleway-Regular.woff2") format("woff2"), url("../assets/fonts/Raleway-Regular.woff") format("woff"), url("../assets/fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BodoniFLF";
  src: url("../assets/fonts/BodoniFLF-Bold.eot");
  src: url("../assets/fonts/BodoniFLF-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/BodoniFLF-Bold.woff2") format("woff2"), url("../assets/fonts/BodoniFLF-Bold.woff") format("woff"), url("../assets/fonts/BodoniFLF-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: "Raleway";
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  font-family: "BodoniFLF";
  text-transform: uppercase;
  cursor: default;
}

h2 {
  font-size: 3.2rem;
  font-weight: bold;
  font-family: "BodoniFLF";
  text-transform: uppercase;
  cursor: default;
}

h3 {
  font-size: 2.4rem;
  font-weight: bold;
  font-family: "BodoniFLF";
  text-transform: uppercase;
  cursor: default;
}

h4, p, li, span, label, table {
  font-size: 1.6rem;
  font-family: "Raleway";
}

nav {
  background-color: #613B1A;
}

#nav-mobile {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.nav-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

svg {
  transition: 0.3s ease;
}

svg:hover {
  fill: goldenrod;
}

.search-bag svg {
  padding-left: 0.75rem;
}

#logo {
  position: absolute;
}

#nav-desktop {
  display: none;
}

#form-mobile {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
  padding: 0.5rem 0;
  background-color: white;
  border-radius: 2rem;
}

#searchicon-mobile {
  fill: black;
}

#searchbar-mobile {
  width: 80%;
  padding: 0.5rem;
  border: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.cart-counter-circle {
  color: white;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  top: 0px;
  height: 1.5rem;
  width: 1.5rem;
  padding: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}
.cart-counter-circle p {
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
}

@media screen and (min-width: 600px) {
  #nav-desktop {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    padding-top: 3rem;
  }

  #nav-mobile {
    display: none;
  }

  .nav-inner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-bag {
    z-index: 2;
  }

  .search-bag svg {
    padding-left: 1.5rem;
  }

  .nav-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }

  .home-navlinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    padding-top: 1.5rem;
  }

  .home-navlinks li {
    padding: 1.5rem;
  }

  .home-navlinks a {
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
  }

  .home-navlinks a:hover {
    color: goldenrod;
  }

  .form {
    display: flex;
    align-items: center;
    padding: 0.8rem;
    background-color: #613B1A;
    border-radius: 2rem;
    justify-content: flex-end;
  }

  .form-active {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
    background-color: white;
    border-radius: 2rem;
    transition: all 0.3s ease-in-out;
  }

  .searchicon {
    fill: white;
    z-index: 2;
  }

  .searchicon:hover {
    fill: goldenrod;
  }

  .searchicon-active {
    fill: black;
  }

  .searchbar {
    display: inherit;
    width: 15rem;
    padding: 0.5rem;
    border: none;
    text-transform: uppercase;
    background-color: #613B1A;
    pointer-events: none;
    color: #613B1A;
  }

  .searchbar::placeholder {
    color: transparent;
  }

  .searchbar-active {
    display: inherit;
    width: 15rem;
    padding: 0.5rem;
    border: none;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
  }
}
@media screen and (min-width: 1080px) {
  #form {
    width: 30rem;
  }

  #searchbar {
    width: 25rem;
  }
}
footer {
  background-color: #613B1A;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer img {
  padding: 1.5rem;
  padding-bottom: 3rem;
}

footer p {
  color: white;
  cursor: default;
}

.contact-icons svg {
  padding: 1.5rem;
}

.contact-icons a:hover {
  fill: goldenrod;
}

.footer-links {
  text-transform: uppercase;
  text-align: center;
  padding: 1.5rem;
}

.footer-links li {
  padding: 1.5rem 0;
}

.footer-links a {
  text-decoration: none;
  color: white;
  transition: 0.3s ease;
}

.footer-links a:hover {
  color: goldenrod;
}

@media screen and (min-width: 600px) {
  .footer-links {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    margin: 1.5rem;
  }

  .footer-links li {
    padding: 0 1.5rem;
  }

  .footer-links a {
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
  }

  .footer-links a:hover {
    color: goldenrod;
  }

  footer p {
    margin-top: 1.5rem;
  }
}
.hero-button {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 0.4rem solid white;
  padding: 0.75rem 1.5rem;
  margin: 1.5rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.hero-button:hover {
  color: goldenrod;
  border: 0.4rem solid goldenrod;
}

svg {
  fill: white;
  cursor: pointer;
}

.add-to-bag {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  background-color: #613B1A;
  border: none;
  padding: 0.75rem 1.5rem;
  margin: 1.5rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.add-to-bag:hover {
  background-color: goldenrod;
}

.slick-slider-wrapper {
  width: 30rem;
  margin-bottom: 3rem;
  text-align: center;
}
.slick-slider-wrapper a {
  text-decoration: none;
  color: black;
}

.slick-slider-wrapper-single {
  width: 30rem;
  margin-bottom: 3rem;
}
.slick-slider-wrapper-single a {
  text-decoration: none;
  color: black;
}

.carousel-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carousel-block img {
  width: 30rem;
  height: 30rem;
}
.carousel-block p {
  margin: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .slick-slider-wrapper {
    width: 40rem;
  }

  .slick-slider-wrapper-single {
    width: 40rem;
  }

  .carousel-block img {
    width: 40rem;
    height: 40rem;
  }
}
main {
  min-height: 80vh;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/images/products/6.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@media screen and (min-width: 1024px) {
  .hero-image {
    height: 70vh;
  }
}
@media screen and (min-width: 1240px) {
  .hero-image {
    height: 80vh;
  }
}
.featured-products {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-products h1 {
  font-size: 32px;
  text-align: center;
  padding: 3rem 0;
}

#hambody {
  background-color: #613B1A;
  padding: 1.5rem;
}

.hamburger-menu {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

.hamburger-menu img {
  padding: 1.5rem;
  padding-bottom: 3rem;
}

#hambody a {
  color: white;
}

#hambody a:hover {
  color: goldenrod;
}

footer p {
  color: white;
  cursor: default;
}

.hamburger-links {
  text-transform: uppercase;
  text-align: center;
  padding: 1.5rem;
}

.hamburger-links li {
  padding: 1.5rem 0;
}

.hamburger-links a {
  text-decoration: none;
  color: white;
  transition: 0.3s ease;
}

.hamburger-links a:hover {
  color: goldenrod;
}

/* Position and sizing of burger button from react-burger-menu*/
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #ffffff;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: goldenrod;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 2.4rem;
  width: 2.4rem;
}

/* Color/shape of close button cross */
.bm-cross {
  background: white;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: absolute;
  top: 0;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #613B1A;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

#svgcross {
  fill: white;
  background-color: #613B1A;
  margin-top: 0.75rem;
  margin-right: 0.75rem;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  padding-top: 3rem;
}

.about-page h1 {
  padding-bottom: 1.5rem;
}

#aboutInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-page p {
  margin: 1.5rem;
}

.about-img {
  width: 30rem;
  margin: 1.5rem;
}

@media screen and (min-width: 1240px) {
  .about-page p {
    width: 75vw;
  }
}
.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  padding-top: 3rem;
}

.contact-page h1 {
  padding-bottom: 1.5rem;
}

.contact-page p {
  margin: 1.5rem;
}

.contact-form span {
  color: red;
  font-weight: bold;
}

.name-form, .email-form, .subject-form, .message-form {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.message-form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.contact-form label {
  margin: 1.5rem 0;
}

.contact-form input, textarea {
  padding: 1rem;
}

#loading-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading-spinner {
  width: 5rem;
  padding: 3rem;
}

.products-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  padding-top: 3rem;
}

.products-dropdown {
  display: flex;
  justify-content: flex-end;
}

#product-sorter {
  font-family: "Raleway";
  margin-top: 3rem;
}

.all-grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.products-grid {
  display: grid;
  margin: 3rem 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 1.5rem;
}

.product-tag {
  background-color: red;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.6rem;
  width: 5rem;
  padding: 0.75rem;
  position: absolute;
}

.grid-product {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.grid-product img {
  width: 15rem;
  height: 15rem;
  padding-bottom: 0.75rem;
}
.grid-product a {
  text-decoration: none;
  color: black;
  width: 15rem;
}
.grid-product p {
  padding: 0.75rem;
}

.grid-product-name {
  font-weight: bold;
  text-transform: uppercase;
}

.sale-price {
  color: red;
}

.old-price {
  text-decoration: line-through;
}

.prices-wrapper {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 540px) {
  .products-grid {
    display: grid;
    margin: 3rem 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 3rem;
    align-items: center;
  }

  .grid-product img {
    width: 15rem;
    height: 15rem;
    padding-bottom: 0.75rem;
  }
}
@media screen and (min-width: 600px) {
  .grid-product img {
    width: 17rem;
    height: 17rem;
  }
  .grid-product a {
    width: 17rem;
  }
}
@media screen and (min-width: 768px) {
  .grid-product img {
    width: 20rem;
    height: 20rem;
    padding-bottom: 0.75rem;
  }
  .grid-product a {
    width: 20rem;
  }
}
@media screen and (min-width: 1024px) {
  .products-grid {
    display: grid;
    margin: 3rem 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 3rem;
    align-items: center;
  }

  .grid-product img {
    width: 20rem;
    height: 20rem;
    padding-bottom: 0.75rem;
  }
  .grid-product a {
    width: 20rem;
  }

  .old-price {
    text-decoration: line-through;
    margin: 0 0.5rem;
  }
}
@media screen and (min-width: 1240px) {
  .products-page {
    padding: 3rem;
  }

  .products-grid {
    display: grid;
    margin: 3rem 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 4.5rem;
    align-items: center;
  }

  .grid-product img {
    width: 25rem;
    height: 25rem;
    padding-bottom: 0.75rem;
  }
  .grid-product a {
    width: 25rem;
  }
}
.single-product-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  padding-top: 3rem;
}

.linktree {
  display: flex;
  align-items: center;
  width: 90%;
  padding: 0 0 3rem 0;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}
.linktree a {
  color: black;
  cursor: pointer;
  transition: 0.3s ease;
}
.linktree a:hover {
  color: goldenrod;
}
.linktree span {
  font-size: 1.2rem;
  cursor: default;
}
.linktree p {
  margin: 0 1rem;
}

.single-product {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: default;
}
.single-product img {
  width: 30rem;
  height: 30rem;
  padding-bottom: 1.5rem;
}
.single-product p {
  padding: 0.75rem 0;
}
.single-product button {
  width: 30rem;
}

.single-product-name {
  font-weight: bold;
  text-transform: uppercase;
  cursor: default;
}

.single-product h4 {
  font-weight: bold;
  padding: 1.5rem 0;
}

.single-product-prices-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.single-product-prices-wrapper p {
  width: 6rem;
}

@media screen and (min-width: 1024px) {
  .single-product-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    padding-top: 3rem;
  }

  .single-product {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .single-product img {
    width: 40rem;
    height: 40rem;
  }

  .single-product p {
    width: 30rem;
  }

  .single-product button {
    width: 30rem;
    margin-left: 0;
  }

  .single-product-info {
    text-align: left;
    margin-left: 3rem;
  }

  .single-product-prices-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 30rem;
  }
  .single-product-prices-wrapper p {
    width: 6rem;
  }
}
.shopping-bag-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  padding-top: 3rem;
}

.shopping-bag-page h1 {
  padding-bottom: 1.5rem;
}

.bag-contents {
  padding: 1.5rem;
  text-align: center;
  margin: 3rem 0;
}

.bag-contents th {
  font-weight: bold;
  padding: 0.75rem;
}

.bag-contents td {
  padding: 0.75rem;
}

.bag-contents input {
  width: 3rem;
  padding: 1.5rem;
}

.bin {
  fill: black;
}

.bag-info {
  text-align: center;
}
.bag-info a {
  text-decoration: none;
  color: black;
}

.bag-info img {
  width: 10rem;
  height: 10rem;
}

.bag-info p {
  padding: 0.75rem 0;
}

.total-price {
  font-weight: bold;
  border-top: 2px solid #613B1A;
}

@media screen and (min-width: 540px) {
  .bag-contents th, td {
    padding: 3rem;
  }
}
.shipping-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.shipping-page h1, h3 {
  text-align: center;
  padding: 1.5rem;
}

.shipping-page p {
  margin: 1.5rem;
}

.shipping-img {
  width: 30rem;
  margin-top: 1.5rem;
}

@media screen and (min-width: 1240px) {
  .shipping-page p {
    width: 75vw;
  }
}
.faq-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.faq-page h1 {
  text-align: center;
  padding: 1.5rem;
}

.faq-page p {
  margin: 1.5rem;
}

.faq-page li {
  list-style-type: disc;
}

@media screen and (min-width: 1240px) {
  .faq-page p {
    width: 75vw;
  }
}
.page-404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  padding-top: 3rem;
  text-align: center;
}

.page-404 h1 {
  padding-bottom: 1.5rem;
}

.page-404 p {
  margin: 1.5rem;
}

@media screen and (min-width: 1240px) {
  .page-404 p {
    width: 75vw;
  }
}

/*# sourceMappingURL=styles.css.map */
