@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css');

.slick-slider-wrapper{
  width:40rem;
  margin-bottom: 3rem;
  a{
    text-decoration: none;
    color:black;
  }
}

.slick-slider-wrapper-single{
  width:40rem;
  margin-bottom: 3rem;
  a{
    text-decoration: none;
    color:black;
  }
}

.carousel-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  img{
    width:40rem;
    height:40rem;
  }
  p{
    margin:1rem;
  }
}