@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css');

.slick-slider-wrapper{
  width:500px;
  margin-bottom: 3rem;
  a{
    text-decoration: none;
    color:black;
  }
}

.carousel-block{
  img{
    width:500px;
    height:500px;
  }
  p{
    margin:1rem;
  }
}