//Navigation

nav {
  background-color: $main-color;
}

#nav-mobile {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: $main-spacing;
}

.nav-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

svg {
  transition: $main-transition;
}

svg:hover {
  fill: $accent-color;
}

.search-bag svg {
  padding-left: $main-spacing /2;
}

#logo {
  position: absolute;
}

#nav-desktop {
  display: none;
}

//Search Bar
#form-mobile {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
  padding: 0.5rem 0;
  background-color: white;
  border-radius: 2rem;
}

#searchicon-mobile {
  fill: black;
}

#searchbar-mobile {
  width: 80%;
  padding: 0.5rem;
  border: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

// Tablet & Desktop View

@media screen and (min-width: 600px) {
  #nav-desktop {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: $main-spacing ($main-spacing * 2);
    padding-top: $main-spacing * 2;
  }

  #nav-mobile {
    display: none;
  }

  .nav-inner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-bag {
    z-index: 2;
  }
  .search-bag svg {
    padding-left: $main-spacing;
  }

  .nav-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }

  .home-navlinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    padding-top: $main-spacing;
  }
  
  .home-navlinks li {
    padding: $main-spacing;
  }
  
  .home-navlinks a {
    text-decoration: none;
    color: white;
    transition: $main-transition;
  }
  
  .home-navlinks a:hover {
    color: $accent-color;
  }

  //Search Bar

  .form {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
    background-color: $main-color;
    border-radius: 2rem;
    justify-content: flex-end;
  }

  .form-active {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
    background-color: white;
    border-radius: 2rem;
    transition: all 0.3s ease-in-out;
  }

  .searchicon {
    fill: white;
    z-index: 2;
  }

  .searchicon:hover {
    fill: $accent-color;
  }

  .searchicon-active {
    fill: black;
  }

  .searchbar {
    display: inherit;
    width: 15rem;
    padding: 0.5rem;
    border: none;
    text-transform: uppercase;
    background-color: $main-color;
    pointer-events: none;
    color: $main-color;
  }
  .searchbar::placeholder{
    color:transparent;
  }

  .searchbar-active {
    display: inherit;
    width: 15rem;
    padding: 0.5rem;
    border: none;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
  }
}

@media screen and (min-width: 1080px) {

  #form {
    width: 30rem;
  }

  #searchbar {
    width: 25rem;
  }
}